.item-box{
  background: #fafafa;
  min-height: 100px;
  border: 1px solid #9999;
  font-size: 3rem;
  transition: 0.25s;
  border-radius: 10px;
  cursor: pointer;
}

.item-box:hover{
  background-color: #eaeaea;
}

.container{
  min-height: calc(100vh - 112px) !important;
}